* {
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: auto;
	background-image: url("../images/wallpaper.jpg");
}

h1 {
	font-family: "Georgia", "Times", "Times New Roman", "Serif";
	background-color: #c97123;
	color: #fbffff;
	text-align: center;
	padding: 15px;
}

p {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.container {
	height: auto;
}

.header {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main {
	height: auto;
	background-color: #f9e6cb;
	color: #72b27a;
	padding: 15px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.initialTtl {
	height: 100px;
	background-color: #5bc97f;
	color: black;
	font-size: 35px;
	padding-top: 20px;
	padding-left: 10px;
	margin-left: 20px;
	margin-bottom: 5px;
	float: left;
}

.winsLoses {
	height: 100px;
	background-color: #4bfdff;
	padding-top: 20px;
	padding-left: 10px;
	color: black;
	float: left;
	margin-left: 20px;
	margin-bottom: 5px;
}

.crystals {
	clear: both;
	width: auto;
	height: auto;
	margin-left: 20px;
	margin-bottom: 15px;
}

.userScoreText {
	clear: both;
	height: 30px;
	background-color: #2ba296;
	color: #e9f4fc;
	padding-top: 5px;
	padding-left: 10px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.userScoreCalc {
	height: 100px;
	background-color: #2ba296;
	color: #e9f4fc;
	font-size: 40px;
	margin-left: 20px;
	padding-top: 20px;
	padding-left: 10px;
	margin-bottom: 5px;
}

 /*For desktops*/
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

    /* For mobile phones:*/ 
@media only screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    } 